In [9]:
import asyncio
import nest_asyncio
import aiohttp
import pandas as pd

In [27]:
df=pd.read_csv(".\\url_data\\URL Classification.csv",names=['url','category']).reset_index(drop=True) #url_data\URL Classification.csv
df

                                                       url category
0                         http://www.liquidgeneration.com/    Adult
1                              http://www.onlineanime.org/    Adult
2        http://www.ceres.dti.ne.jp/~nekoi/senno/senfir...    Adult
3                               http://www.galeon.com/kmh/    Adult
4                              http://www.fanworkrecs.com/    Adult
...                                                    ...      ...
1562973                           http://www.maxpreps.com/   Sports
1562974                            http://www.myscore.com/   Sports
1562975        http://sportsillustrated.cnn.com/highschool   Sports
1562976    http://rss.cnn.com/rss/si_highschool?format=xml   Sports
1562977              http://www.usatoday.com/sports/preps/   Sports

[1562978 rows x 2 columns]

## Asyncio and aiohttp

In [87]:
import asyncio
import aiohttp
import os
import time
import pandas as pd
# To work with the .env file
from dotenv import load_dotenv
load_dotenv()

api_key = os.getenv('ALPHAVANTAGE_API_KEY')
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol={}&apikey={}'
symbols = ['AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL','AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL','AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL','AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL']
results = []

start = time.time()

async def get_tasks(session,symbol):
    async with session.get(url.format(symbol, api_key)) as response:
        return await response.json()

async def get_symbols(symbols):
    async with aiohttp.ClientSession() as session:
        tasks = [get_tasks(session,symbol) for symbol in symbols]
        responses = await asyncio.gather(*tasks)
    return responses

nest_asyncio.apply()
rslt=asyncio.run(get_symbols(symbols))
rslt2=pd.DataFrame(rslt)
end = time.time()
total_time = end - start
print(rslt2)
print("It took {} seconds to make {} API calls".format(total_time, len(symbols)))
print('You did it!')

                                                 Note
0   Thank you for using Alpha Vantage! Our standar...
1   Thank you for using Alpha Vantage! Our standar...
2   Thank you for using Alpha Vantage! Our standar...
3   Thank you for using Alpha Vantage! Our standar...
4   Thank you for using Alpha Vantage! Our standar...
5   Thank you for using Alpha Vantage! Our standar...
6   Thank you for using Alpha Vantage! Our standar...
7   Thank you for using Alpha Vantage! Our standar...
8   Thank you for using Alpha Vantage! Our standar...
9   Thank you for using Alpha Vantage! Our standar...
10  Thank you for using Alpha Vantage! Our standar...
11  Thank you for using Alpha Vantage! Our standar...
12  Thank you for using Alpha Vantage! Our standar...
13  Thank you for using Alpha Vantage! Our standar...
14  Thank you for using Alpha Vantage! Our standar...
15  Thank you for using Alpha Vantage! Our standar...
16  Thank you for using Alpha Vantage! Our standar...
17  Thank you for using Alpha Vantage! Our standar...
18  Thank you for using Alpha Vantage! Our standar...
19  Thank you for using Alpha Vantage! Our standar...
It took 0.9011828899383545 seconds to make 20 API calls
You did it!

In [84]:
rslt2

                                          Information
0   Thank you for using Alpha Vantage! Our standar...
1   Thank you for using Alpha Vantage! Our standar...
2   Thank you for using Alpha Vantage! Our standar...
3   Thank you for using Alpha Vantage! Our standar...
4   Thank you for using Alpha Vantage! Our standar...
5   Thank you for using Alpha Vantage! Our standar...
6   Thank you for using Alpha Vantage! Our standar...
7   Thank you for using Alpha Vantage! Our standar...
8   Thank you for using Alpha Vantage! Our standar...
9   Thank you for using Alpha Vantage! Our standar...
10  Thank you for using Alpha Vantage! Our standar...
11  Thank you for using Alpha Vantage! Our standar...
12  Thank you for using Alpha Vantage! Our standar...
13  Thank you for using Alpha Vantage! Our standar...
14  Thank you for using Alpha Vantage! Our standar...
15  Thank you for using Alpha Vantage! Our standar...
16  Thank you for using Alpha Vantage! Our standar...
17  Thank you for using Alpha Vantage! Our standar...
18  Thank you for using Alpha Vantage! Our standar...
19  Thank you for using Alpha Vantage! Our standar...

## parse module

In [1]:
import parse as pr
import pandas as pd

simple_log_data = [
    "INFO [2023-05-17 12:34:56.789] This is a simple log message",
    "ERROR [2023-05-18 01:23:45.678] An error occurred",
    "WARNING [2023-05-19 10:20:30.123] This is a warning message"
]

formatt="{type} [{date}] {message}" 

collection=[]
for line in simple_log_data:
    parsed=pr.parse(formatt,line).named
    collection.append(parsed)

pd.DataFrame(collection)

      type                     date                       message
0     INFO  2023-05-17 12:34:56.789  This is a simple log message
1    ERROR  2024-05-18 01:23:45.678             An error occurred
2  WARNING  2023-05-19 10:20:30.123     This is a warning message